*
	padding: 0
	margin: 0
	box-sizing: border-box
	border: none
	outline: none

html
	scroll-behavior: smooth

:root
	--violet: #CFA2FF
	--white: #FCFCFC
	--fuchsia: #FE00A0
	--fuchsia-hover: #D6088A
	--fuchsia-pressed: #A40469
	--haiti: #1B1035
	--haiti-80: rgba(27, 16, 53, 0.8)
	--haiti-50: rgba(27, 16, 53, 0.5)
	--haiti-hover: #564D6C
	--haiti-pressed: #6D6383
	--haiti-30: rgba(27, 16, 53, 0.30)
	--haiti-15: rgba(27, 16, 53, 0.15)
	--light-violet: #E6CEFF
	--gray-violet: #EDE7F9
	--dark-violet: #8A75A1
	--white-hover: #F2EDF0
	--white-pressed: #EBE0E7
	--light-grey: #F3F1F7
	--system-red: #ED0055
	--green: #329F63
	--blue: #6363E5
	--paddingContainer: 40px

body
	color: var(--haiti)
	background-color: var(--light-grey)
	font-family: "Sofia Sans Extra Condensed", sans-serif
	font-stretch: normal
	font-optical-sizing: auto
	font-style: normal
	&.is_active
		overflow: hidden

.container
	max-width: 1920px
	width: 100%
	margin: 0 auto
	padding: 0 var(--paddingContainer)

.tb
	&-hide
		@media screen and ( max-width: 992px )
			display: none !important
.pc
	&-hide
		@media screen and ( min-width: 992px )
			display: none !important

img
	display: block
	max-width: 100%

[class^="fx-"],
[class*=" fx-"]
	display: flex

.g
	&-16
		gap: 16px

input, textarea, select
	padding: 0 24px
	min-height: 64px
	display: block
	width: 100%
	margin: 0 0 24px
	border: 2px solid var(--haiti)
	border-radius: 6px
	font-size: 21px
	line-height: 24px
	font-family: 'Inter', sans-serif
	transition: border-color .3s ease
	color: var(--haiti)
	&::placeholder
		color: var(--haiti-50)

	&:focus,
	&:hover
		border-color: var(--haiti) !important

	&:placeholder-shown
		border-color: var(--haiti-50)

textarea
	resize: none
	padding-top: 20px !important
	padding-bottom: 20px !important
	&:last-of-type
		margin-bottom: 0 !important

.fx
	&-ac
		align-items: center
	&-jc
		justify-content: center
	&-col
		flex-direction: column
	&-w
		flex-wrap: wrap
	&-as
		align-items: flex-start
	&-jb
		justify-content: space-between
	&-ae
		align-items: end

@keyframes deg360
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)

@media screen and ( max-width: 1500px )
	:root
		--paddingContainer: 43px

	input, textarea, select
		min-height: 49px
		padding: 0 20px
		font-size: 15px
		line-height: 17px
		margin-bottom: 21px

@media screen and ( max-width: 992px )
	:root
		--paddingContainer: 20px
	input, textarea, select
		min-height: 54px
		margin-bottom: 30px
		font-size: 18px
		line-height: 22px

@media screen and ( max-width: 720px )
	:root
		--paddingContainer: 16px

	input, textarea, select
		min-height: 60px
		margin-bottom: 30px
		padding: 0 24px
		font-size: 16px
		line-height: 20px
		margin-bottom: 20px

	textarea
		padding: 20px 24px
		min-height: 80px
