*
	padding: 0
	margin: 0
	box-sizing: border-box
	border: none
	outline: none
	// animation-play-state: paused !important

html
	scroll-behavior: smooth

:root
	--violet: #CFA2FF
	--white: #FCFCFC
	--fuchsia: #FE00A0
	--fuchsia-hover: #D6088A
	--fuchsia-pressed: #A40469
	--haiti: #1B1035
	--haiti-80: rgba(27, 16, 53, 0.8)
	--haiti-50: rgba(27, 16, 53, 0.5)
	--haiti-hover: #564D6C
	--haiti-pressed: #6D6383
	--haiti-30: rgba(27, 16, 53, 0.30)
	--haiti-15: rgba(27, 16, 53, 0.15)
	--light-violet: #E6CEFF
	--gray-violet: #EDE7F9
	--dark-violet: #8A75A1
	--white-hover: #F2EDF0
	--white-pressed: #EBE0E7
	--light-grey: #F3F1F7
	--system-red: #ED0055
	--green: #329F63
	--blue: #6363E5
	--paddingContainer: 40px

body
	color: var(--haiti)
	background-color: var(--light-grey)
	font-family: "Sofia Sans Extra Condensed", sans-serif
	font-stretch: normal
	font-optical-sizing: auto
	font-style: normal
	padding-top: 80px
	position: relative
	&.overflow,
	&.is_active
		overflow: hidden

.container
	max-width: 1920px
	width: 100%
	margin: 0 auto
	padding: 0 var(--paddingContainer)

.tb
	&-hide
		@media screen and ( max-width: 991px )
			display: none !important

	&-show
		@media screen and ( min-width: 991px )
			display: none !important
.pc
	&-hide
		@media screen and ( min-width: 991px )
			display: none !important
.mob
	&-hide
		font-style: normal
		@media screen and ( max-width: 720px )
			display: none !important
	&-show
		font-style: normal
		@media screen and ( min-width: 720px )
			display: none !important

img
	display: block
	max-width: 100%

[class^="fx-"],
[class*=" fx-"]
	display: flex

.g
	&-16
		gap: 16px

input, textarea, select
	padding: 0 22px
	height: 64px
	display: block
	width: 100%
	margin: 0 0 24px
	border: 2px solid var(--haiti)
	border-radius: 6px
	font-size: 21px
	line-height: 24px
	font-family: 'Inter', sans-serif
	transition: border-color .3s ease
	color: var(--haiti)
	&::placeholder
		color: var(--haiti-50)

	&:focus,
	&:hover
		border-color: var(--haiti) !important

	&:placeholder-shown
		border-color: var(--haiti-50)

textarea
	resize: none
	padding-top: 20px
	padding-bottom: 20px
	-ms-overflow-style: none
	scrollbar-width: none
	&::-webkit-scrollbar
		display: none
		width: 0
		height: 0

	&:last-of-type
		margin-bottom: 0 !important

.fx
	&-ac
		align-items: center
	&-jc
		justify-content: center
	&-col
		flex-direction: column
	&-w
		flex-wrap: wrap
	&-as
		align-items: flex-start
	&-jb
		justify-content: space-between
	&-ae
		align-items: end

@keyframes deg360
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)

.fancybox
	&-is-open
		background: var(--haiti-80) !important
		backdrop-filter: blur(6px)

	&-bg
		opacity: 1 !important
		background: rgba(0, 0, 0, 0)!important

	&-content
		background: rgba(0, 0, 0, 0)!important
		&.--ver
			min-height: 80% !important
			aspect-ratio: 9/16
			video
				margin: 0 auto
				max-width: 100%
				aspect-ratio: 9/16
				width: unset !important
		&.--hor
			video
				margin: 0 auto
				max-width: 100%
				aspect-ratio: 16/9

	&-caption
		font-family: 'Inter', sans-serif

	&-navigation
		button
			div
				transform-origin: 50% 0%
				border-radius: 50%
				background-image: url('../img/slick-arr.svg')
				background-repeat: no-repeat
				background-position: center center
				background-size: cover

			svg
				display: none

			&[disabled] div
				cursor: no-drop
				border: 3px solid var(--white)
				pointer-events: none
				background-image: none

	&-toolbar
		top: 20px !important
		right: 24px !important

	&-button
		background-color: rgba(0, 0, 0, 0) !important
		&--play,
		&--zoom,
		&--thumbs
			display: none !important

		&--close
			svg
				width: 30px
				height: 30px

		&--arrow_left div
			transform: scaleX(-1) !important

section
	padding: 120px 0

.btn, .menu__open, .example .item, .slick-arrow
	&::after
		background-repeat: no-repeat
		background-image: url('../img/sprite.svg')

@media screen and ( max-width: 1500px )
	body
		padding-top: 64px

	:root
		--paddingContainer: 43px

	input, textarea, select
		height: 49px
		padding: 0 18px
		font-size: 15px
		line-height: 17px
		margin-bottom: 21px

	textarea
		padding-top: 14px

	section
		padding: 80px 0

@media screen and ( max-width: 991px )
	body
		padding-top: 48px

	:root
		--paddingContainer: 20px

	input, textarea, select
		height: 54px
		margin-bottom: 30px
		font-size: 18px
		line-height: 22px

	section
		padding: 60px 0

@media screen and ( max-width: 720px )
	:root
		--paddingContainer: 16px

	input, textarea, select
		height: 60px
		margin-bottom: 30px
		padding: 0 22px
		font-size: 16px
		line-height: 20px
		margin-bottom: 20px

	textarea
		padding: 20px 24px 10px
		height: 80px

	section
		padding: 40px 0
