$font-path: '../fonts'

@font-face
   font-family: 'Inter'
   src: local('#{$font-path}/Inter-Regular'), url('#{$font-path}/Inter-Regular.woff2') format('woff2'), url('#{$font-path}/Inter-Regular.woff') format('woff'),
   font-weight: normal
   font-style: normal
