h1,.h1
    font-size: 386px
    line-height: 280px
    letter-spacing: -0.02em

h2,.h2
    font-size: 200px
    line-height: 180px
    letter-spacing: -0.01em

h3,.h3
    font-size: 140px
    line-height: 120px
    letter-spacing: -0.01em

h4,.h4
    font-size: 83px
    line-height: 80px

h5,.h5
    font-size: 60px
    font-weight: 400
    line-height: 64px
    letter-spacing: 0.01em

.t
    &-sh
        font-family: 'Inter', sans-serif
        font-size: 36px
        font-style: italic
        font-weight: 400
        line-height: 40px
        letter-spacing: 0.02em

    &-acc
        font-size: 34px
        font-weight: 400
        line-height: 40px
        letter-spacing: 0.02em

    &-b1
        font-family: 'Inter', sans-serif
        font-size: 26px
        font-weight: 400
        line-height: 32px
        letter-spacing: 0.02em

    &-b2
        font-family: 'Inter', sans-serif
        font-size: 21px
        font-weight: 400
        line-height: 24px
        letter-spacing: 0.02em

a, button
    color: #000
    text-decoration: none
    box-sizing: border-box
    transition: all ease .3s
    background-color: transparent
    &:active
        transform: scale(.98)

.btn
    font-size: 24px
    font-weight: 700
    line-height: 32px
    letter-spacing: 0.02em
    text-transform: uppercase

    gap: 16px
    border-radius: 8px
    display: inline-flex
    align-items: center
    justify-content: center
    background-color: var(--fuchsia)
    color: var(--white)
    padding: 20px 40px
    &:hover
        background-color: var(--fuchsia-hover)

    &:active
        background-color: var(--fuchsia-pressed)

    &.--star
        &::after
            content: ''
            display: inline-block
            width: 24px
            height: 28px
            background-repeat: no-repeat
            background-position: center top
            background-image: url('../img/star.svg')

    &.--dark
        background-color: var(--haiti)

        &:hover
            background-color: var(--haiti-hover)

        &:active
            background-color: var(--haiti-pressed)
            
    &.--light
        color: var(--fuchsia)
        background-color: var(--white)
        border: 2px solid var(--gray-violet)
        &::after
            background-image: url('../img/star-acc.svg')

        &:hover
            background-color: var(--white-hover)

        &:active
            background-color: var(--white-pressed)

    &:disabled, &.disabled
        border-color: var(--haiti-15)
        background-color: var(--haiti-15)
        pointer-events: none
